<h1 class="text-center font-weight-bold mt-2"><%= @title %></h1>
<% if @users.any? %>
	<%= will_paginate @users, class: "text-center mb-3" %>
	<ul class="list-group">
		<%= render @users %>
	</ul>
	<%= will_paginate @users, class: "text-center mt-3"%>
<% end %>
