<h1>Profile</h1>
<h3>
	<%= gravatar_for(@user) %>
	<%= @user.name %>
</h3>
<p>
	<small class="text-muted">
		<%= @user.email %>
	</small>
</p>
<%= link_to "Back", :root, class: "btn btn-outline-secondary" %>
