<h1>Profile</h1>
<div class="row">
	<div class="col-md-4">
		<%= render "user_label" %>
	</div>
	<div class="col-md-8">
		<% if @user.posts.any? %>
			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<h3 class="border-bottom border-gray pb-2 mb-0 text-center">Posts</h3>
				<%= render @posts %>
				<%= will_paginate @posts, class: "text-center mt-3" %>
			</div>
		<% end %>
	</div>
</div>
