<% if flash.any? %>
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %> text-center font-weight-bold mt-2 mb-0">
			<%= message %>
		</div>
	<% end %>
<% end %>
